# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular Data Science languages
- List popular Data Science Tools
- Provide examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1) Python
2) R
3) SQL

Data Science Tools|
------------------|
pandas|
NumPy|
Scikit-learn|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nathan Davies